<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">



    <a class="navbar-brand" href="#">Infinity Gaming</a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
            <span class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </span>

            <span class="nav-item">
              <a class="nav-link" href="#">About Us</a>
              <%#= link_to 'About Us', url: "#", class: 'nav-link' %>
            </span>

            <span class="nav-item">
              <a class="nav-link" href="#">Contact</a>
              <%#= link_to 'About Us', url: "#", class: 'nav-link' %>
            </span>

            <span class="nav-item">
              <a class="nav-link" href="#">Images</a>
              <%#= link_to 'About Us', url: "#", class: 'nav-link' %>
            </span>

            <span class="nav-item">
              <a class="nav-link" href="#">Videos</a>
              <%#= link_to 'About Us', url: "#", class: 'nav-link' %>
            </span>

            <span class="nav-item">
              <%= link_to "Games", games_path, class: "nav-link" %>
            </span>
    </div>

    <div class="search-con">
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <button class="hamburger hamburger--spin" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <a data-toggle="is-active" data-target="#navbarCollapse">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </a>
      </button>
    </button>
    </div>
    <script>
      var $hamburger = $(".hamburger");
      $hamburger.on("click", function(e) {
        $hamburger.toggleClass("is-active");
          // Do something else, like open/close menu
      });
    </script>
</nav>
