<%= stylesheet_link_tag'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render 'shared/about_nav' %>
<div class="pages-content">
  <div class="header-con">
    <div class="header-text-con">
      <h1>Games</h1>
      <span class="overlay"></span>
    </div>
  </div>
  <div class="games-con">
    <% 8.times do %>
      <%= render 'shared/game' %>
    <% end %>
  </div>
</div>
