@import "bootstrap";

.carousel {
  height: 500px;
  margin-bottom: 60px;
  background-color:#29364C;
  /*This is to just make sure most of the template works 
    because the carousel doesn't have data. Not fully sure 
    how to add data looks like javascript*/
}

// #myCarousel {
//   background-image: url("https://static.pexels.com/photos/33109/fall-autumn-red-season.jpg");
//     background-repeat: no-repeat;
//     background-position: center;
// }