.open.nav-bar-con{
  position: fixed;
  background-color: #292B2C;
  width: 25%;
  height: 100%;
  text-align: center;
  display: block;
}
.nav-bar-content{
  display: none;
  transition-duration: 200ms;
}
.open.nav-bar-content{
  float: left;
  text-align: left;
  max-width: 75%;
  display: inline-block;
}
.nav-bar-header{
  text-align: center;
  width: 100%;
  height: 25%;
  margin-bottom: 10%;
}
.nav-bar-ham{
  display: inline-block;
  text-align: right;
  max-width: 25%;
  float: right;
}
.search-button{
  transition-duration: 300ms;
  font-family: Lato;
  background-color: #29364c;
  color: #5cb85c;
  height: 50px;
  width: 100px;
  padding: 0px;
  border: 0px;
  border-bottom: 2px solid #5cb85c;
}
.search-button:hover{
  transition-duration: 300ms;
  background-color: #5cb85c;
  color: #29364c;
  border-bottom: 2px solid #29364c;
}
.search-box{
  outline: 0px;
  font-family: Lato;
  background-color: transparent;
  color: #5cb85c;
  height: 50px;
  width: auto;
  padding: 0px;
  margin-left: -4px;
  border: 0px;
  border-bottom: 2px solid #5cb85c;
}
.search-box::placeholder{
  padding-left: 2%;
}
.hamburger-inner{
  border-radius: 0px;
}

.hamburger-inner::before{
  border-radius: 0px;
}

.hamburger-inner::after{
  border-radius: 0px;
}

.nav-bar-links p{
  display: inline;
  font-family: Lato;
  font-size: 3.2em;
  color: #FFF;
  padding-left: 10%;
}
.nav-bar-links-con{
  width: 25%;
  margin-top: 5%;
  transition-duration: 300ms;
  border-bottom: 2px solid transparent;
  transition-timing-function: ease-in-out;
}
.nav-bar-links-con:hover{
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  border-bottom: 2px solid #5cb85c;
  width: 80%;
}

.nav-bar-con{
  position: fixed;
  background-color: #292B2C;
  height: 100%;
  text-align: center;
  margin-right: 94%;
}
.nav-bar-ham {
   float: left;
}

.open.nav-bar-con {
   width: 18.9%;
}
a:hover{
  text-decoration:none;
}
button:focus{
  outline:none;
}